<!--<!DOCTYPE html>-->
{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>JSON and AJAX</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <header>
        <h1>JSON and AJAX</h1>
        <button id="btn">Fetch Info for 3 animals</button>
    </header>

    <div id="animal-info"></div>

    <script type="text/javascript">
        var btn = document.getElementById("btn");
        btn.addEventListener("click", function(){
            var ourRequest = new XMLHttpRequest();
            ourRequest.open('GET', 'http://127.0.0.1:8000/news/');
            ourRequest.onload = function(){
                var ourData = ourRequest.responseText
                console.log(ourData);
            };
            ourRequest.send();
        });
    </script>

</body>
</html>